body {
  font-family: sans-serif;
  color: var(--text-color);
}

ul{
  list-style-type: none;
  padding:3px;
}

path {
  fill: white;
  stroke: black;
  stroke-width: 4;
  stroke-linejoin: round;
}

circle {
  fill: white;
  stroke: #ff2800;
  stroke-width: 2px;
}

#guess-input {
  font-size: 30px;
  border:none;
  width: 400px;
  border-bottom: 3px solid var(--text-color);
  color: var(--text-color);
  background-color : #dedede; 
}

#map{
  display:inline-block;
  vertical-align:top;
}

#text{
  display:inline-block;
  vertical-align:top;
}

li:first-child{
  color: var(--link-colour);
  font-weight: bold;
}

svg.button{
  stroke: none;
}
.guess{
  text-decoration: none;
  border: 3px solid var(--text-color);
  padding: 5px;
  font-size: 25px;
  height: 35px;
  color: var(--text-color);
  background: white;
  box-sizing: border-box;
  position: relative;
  top: -3px;
}
.guess:hover{
  color: var(--link-color);
  border: 3px solid var(--link-color);
}

.output{
  border-bottom:solid 1px;
  margin-bottom:20px;
}